.days-container{
  display: flex;
  justify-content: space-around;
  div {
    flex-grow: 1;
    background-color: white;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    .title{
      font-size: 20px;
      margin: 20px 0;
      cursor: pointer;
    }
  }
  .active{
    border: 2px solid black;
  }
}
