.days-container{
  display: flex;
  justify-content: space-around;
  height: 20%;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin: 10px;
    border-radius: 10px;
    background-color: white;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    .title{
      font-size: 20px;
      margin: 20px 0;
      cursor: pointer;
    }
  }
  .active{
    border: 3px solid #4B81D0;
  }
}
