<div class="container">
  <app-daily-forecast></app-daily-forecast>
  <div class="chart-container">
    <div class="wind">
      <app-chart [item]="'Wind speed'"></app-chart>
    </div>
    <div class="humidity">
      <app-chart [item]="'Temperature'"></app-chart>
    </div>
  </div>
  <div class="chart-container">
    <div class="rain">
      <app-chart [item]="'Humidity'"></app-chart>
    </div>
    <div class="uv-indicator">
      <app-chart [item]="'Pressure'"></app-chart>
    </div>
  </div>
</div>
