.container{
  width: 80vw;
  height: 100vh;
  background-color: #F0F1F3;
  .chart-container{
    display: flex;
    width: 100%;
    max-height: 35vh;
    div{
      padding: 20px;
      margin: 15px;
      background-color: white;
      border-radius: 10px;
      width: 50%;
      height: 100%;
      flex-grow: 1;
    }
  }
}
